h1{
    color: olivedrab;
    font-size: 100px;
    text-align: center;
    font-family: Arial;
}
.box1{
    background-color: green;
    width: 1000px;
    padding: 20px;
    border: 1px solid black;
    margin: 30px;
}
.box2{
    background-color: green;
    width: 1000px;
    padding: 20px;
    border: 1px solid black;
    margin: 30px;
}
.container {
    background-color: yellowgreen;
    width: 1000px;
    padding: 20px;
    border: 1px solid black;
    margin: 30px;
}